* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

body {
    background: linear-gradient(#d9d9d9, #ffffff) no-repeat;
}

.wrap {
    width: 1152px;
    margin: 0 auto;
}

.head_wrap {
    display: inline-block;
    width: 100%;
    min-height: 46px;
    line-height: 46px;
    background: linear-gradient(#264e8c, #24457a, #213a63);
    margin-bottom: 19px;
}


.leftside_wrap, .leftside_wrap h1, .leftside_wrap h3 {
    display: inline-block;

}

.leftside_wrap {
    padding-left: 46px;
}

.leftside_wrap h1 {
    font-size: 16px;
    color: #ffffff;
    padding-right: 12px;
}

.leftside_wrap h3 {
    font-size: 12px;
    color: #b9c4d6;
}

.rightside_wrap, .rightside_wrap p, .nav_after {
    display: inline-block;
}

.rightside_wrap {
    width: 520px;
    z-index: 1;
    background: linear-gradient(#3a6ea0, #336696, #295885);
    position: relative;
    top: -1px;
    right: -196px;
    text-align: right;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
}

.rightside_wrap p {
    color: #b9c4d6;
    padding-right: 26px;
}

.rightside_wrap p span {
    font-weight: bold;
    color: #ffffff;
}

.logout_button{
    font-size: 10px;
    color: #ffffff;
    padding: 4px 9px;
    border: 1px solid #6f98ab;
    background: linear-gradient(#3b6690, #6e8ead, #2a5987);
    box-shadow: 1px 1px 2px #1f4975;
}

.nav_after {
    list-style: none;
    text-align: center;
}

.nav_after>li{
    display: inline-block;

}

.nav_after>li>a {
    color: #b9c4d6;
    text-decoration: none;
}

.nav_after li::after {
    display: inline-block;
    content: "|";
    padding-left: 12px;
    padding-right: 12px;
    color: #7195b6;
}


.nav_after li:last-child::after {
    content: "";
}

.aside_contents_wrap {
    display: flex;
    justify-content: space-evenly;
}

aside {
    display: inline-block;
    width: 210px;
    min-height: 700px;
    background-color: #ededed;
}

.sidebar_wrap {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 16px;
    border-top: 3px solid #366899;
}

.sidebar_list {
    margin: 0 auto;
    width: 190px;
}

.sidebar_list li span a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.sidebar_list1 li a:hover {
    color: #ffffff;
}

.sidebar_list1 {
    list-style: none;
    margin-bottom: 8px;
}

.sidebar_list1 li {
    padding: 10px 33px;
    margin-bottom: 3px;
    border-bottom: 1px solid #c1c1c1;
    background: url('../assignment3/list_marker.png') 0 0 no-repeat;
    background-position: 10px 2px;
}

.sidebar_list1 li:hover {
    background: url('../assignment3/sidebar_marker2.png') 0 0 no-repeat;
    background-position: 10px 2px;
    background-color: #336595;
}


.sidebar_list2 {
    list-style: none;
}

.sidebar_list2 li {
    padding: 7px 36px;
    border-bottom: 1px dotted #c1c1c1;
}

.sidebar_list2 li a {
    text-decoration: none;
    font-size: 12px;
    color: #000000;
}

#list_selected {
    color: #336595;
    font-weight: 700;
}

.contents_head {
    margin-left: 15px;
    border-radius: 3px 3px 0 0;
    background: linear-gradient(#396d9f, #22496f);
}

h2 {
    font-size: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 28px;
    color: #ffffff;
}

.constents_box {
    width: 912px;
    min-height: 665px;
    padding: 22px 9px;
    background: #ededed no-repeat;
}

.box_container {
    display: inline-block;
}

.contents_box_tap {
    display: inline-block;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0 20px 0 0;
    border-top: 1px double #cdcdcd;
    border-left: 1px double #cdcdcd;
    border-right: 1px double #cdcdcd;
    background: #ffffff no-repeat;
    z-index: 1;
}

.contents_box_tap span strong {
    color: #fa6c03;
    font-size: 16px;
}

.contents_container {
    background: #ffffff no-repeat;
    border: 1px solid #cdcdcd;
    padding-top: 38px;
    padding-left: 12px;
    z-index: -1;
}

table {
    border-collapse : collapse;
    min-width: 855px;
}

thead>tr>.head_cell {
    border-radius: 2px;
}

.table2-1, .table2-2 {
    margin-bottom: 17px;
}

.table2-3 {
    margin-bottom: 60px;
}

.left_align {
    text-align: left;
}

.width_cell {
    padding-left: 102px;
    padding-right: 102px;
}

tr, th, td {
    text-align: center;
    font-size: 12px;
    border: 1px solid #cccccc;
    padding: 6px 22px;
}

th {
    font-weight: 500;
}

.head_cell {
    display: inline-block;
    font-size: 12px;
    border-radius: 5px 5px 0 0;
    padding: 6px 22px;
    color: #ffffff;
    background: url('../assignment3/marker3.png') 0 0 no-repeat;
    background-position: -2px -1px;
    background-color: #36699b;
}

.th_blue{
    color: #ffffff;
    background-color: #36699b;
}

.th_blue_font {
    color: #65839d;
    background-color: #e7e9ed;
}

.th_blue_top {
    border-top: 2px solid #36699b;
}

.td_gray {
    background-color: #f3f3f3;
}

.td_cool_gray {
    background-color: #e7e9ed;
}

.bold_span {
    font-weight: 600;
    color: #65839d;
}

.bold_a {
    font-weight: 600;
    color: #65839d;
    text-decoration: none;
}

.strong_cell {
    color: #36699b;
}

.list_container {
    padding: 13px;
    font-size: 12px;
}

.list_container ul {
    list-style: square;
    list-style-position: inside;
}

.list_container ul li span {
    font-weight: 600;
}

.width_fixed1 {
    padding-left: 150px;
    padding-right: 150px;
}

.width_fixed2 {
    padding-left: 169px;
    padding-right: 169px;
}

.width_fixed3 {
    width: 95px;
}

.td_txtarea {
    resize: none;
}

.td_txtarea:focus {
    outline: none;
}

.position_right_bottom {
    font-size: 11px;
    position: relative;
    bottom: 0;
    right: -280px;
}

.btn_title_position {
    display: flex;
    justify-content: space-between;
    width: 854px;
}

.btn_position {
    display: inline-block;
}

.save_btn {
    font-size: 12px;
    padding-right: 11px;
    padding-left: 11px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #2e5d9c;
    box-shadow: 1px 1px 1px #c0c5cd;
    cursor: pointer;
}

.small_btn {
    font-size: 11px;
    padding-left: 9px;
    padding-right: 9px;
    cursor: pointer;
}

.small_btn:not(:last-child) {
    margin-right: 2px;
}


.table3-1, .table3-2 {
    margin-bottom: 17px;
}

.table3-3, .table3-4 {
    margin-bottom: 40px;
}